[2014-01-29 19:49] pron opened #1 "Add Ring support (Clojure)"

[2014-01-29 19:49] pron opened #2 "Add Clojure web actors"

[2014-01-29 19:49] pron opened #3 "Support DropWizard"

[2014-01-29 19:49] pron opened #4 "Support JDBI"

[2014-01-29 19:49] pron opened #5 "Support jOOQ"

[2014-02-06 18:28] pron opened #6 "Support retrofit"
http://square.github.io/retrofit/

[2014-02-11 16:25] pron opened #7 "Add Redis support"
Try using jedis, though no async there

[2014-02-14 11:29] jankotek opened #8 "Native async database"
Hi,

I am author of MapDB, an JVM database.  I have some experience with Kotlin and cooperative multitasking. MapDB also has prototype which uses AsynchronousFileChannel.

I am thinking about creating special version of MapDB which would use non-blocking operations down to disk IO operations. It has to be bundled with similar web-container and Comsat seems like good choice.

I would like to start

[2014-02-14 21:33] #8 closed, assigned to nobody

[2014-05-19 12:29] blekinge opened #9 "make .path() work for jaxrs fibers"
from FiberWebTarget.java

[code]

This should be

[code]

as the path method in the JerseyWebTarget DOES NOT do inplace modification of the path

[2014-05-19 13:09] #4 closed, assigned to nobody

[2014-05-19 13:09] #3 closed, assigned to nobody

[2014-05-19 15:03] #9 closed, assigned to eitan101

[2014-06-06 05:10] #6 closed, assigned to nobody

[2014-06-06 05:10] #5 closed, assigned to nobody

[2014-06-06 05:12] eitan101 opened #10 "servlet forward fails sometimes on tomcat"
Failed in the 3331th iteration due to NPE:

[code]

[2014-06-06 05:17] eitan101 opened #11 "servlet forward fails a lot on jetty"
See [test](https://github.com/puniverse/comsat/blob/master/comsat-servlet/src/test/java/co/paralleluniverse/fibers/servlet/FiberHttpServletTest.java#L86).
Happened on the 8th iteration.

[code]

[2014-06-08 18:12] eitan101 opened #12 "why are there many hogging alerts in jooq ?"
[code]

[2014-08-05 11:45] tigerclawn82 opened #14 "FiberRestAdaptherBuilder > Spelling Mistake"
Hi,

   Please update spelling of Adapter in FiberRestAdaptherBuilder.

[2014-08-05 12:06] #14 closed, assigned to nobody

[2014-08-13 13:17] serialx opened #15 "Spring Integration"
When will comsat be compatible with Spring?

And also optional spring-boot integration would be good too.

[2014-08-28 15:10] #15 closed, assigned to nobody

[2014-09-28 12:46] igor-ye opened #16 "java.lang.NoSuchMethodError on Comsat 0.2.0 + Dropwizard 0.7.1"
Got NoSuchMethodError when trying Comsat 0.2.0 + Dropwizard 0.7.1

Exception in thread "main" java.lang.NoSuchMethodError: io.dropwizard.jersey.setup.JerseyContainerHolder.<init>(Lcom/sun/jersey/spi/container/servlet/ServletContainer;)V
        at io.dropwizard.setup.Environment.<init>(Environment.java:74)
        at io.dropwizard.cli.EnvironmentCommand.run(EnvironmentCommand.java:34)
        at i

[2014-10-21 15:33] #16 closed, assigned to nobody

[2014-12-23 06:46] circlespainter opened #22 ""comsat-jetty-loader" fails to instrument Jersey's suspendables on standalone servlet container (cargo)"
Jetty v.9.2.1

[code]

[2014-12-23 11:10] #1 closed, assigned to circlespainter

[2015-01-07 21:54] synapsechris opened #23 "it would be great to have a comsat based system produce results in the techempower benchmarks"
https://www.techempower.com/benchmarks/

[2015-01-08 07:02] circlespainter commented on #23
Thanks for pointing this out!

[2015-01-30 07:04] cnsgcu opened #24 "WebSocket JSR-356"
Is there an artifact for WebSocket API in JSR-356?

[2015-01-30 07:16] circlespainter commented on #24
You can use JSR-356 WebSockets through the Web Actors API http://docs.paralleluniverse.co/comsat/#web-actors. The relevant artifacts are `comsat-actors-api` and `comsat-actors-servlet`.

[2015-01-30 10:12] circlespainter commented on #24
@cnsgcu Is this adequate to your need?

[2015-01-30 16:47] cnsgcu commented on #24
Thanks @circlespainter, is there a fiber API that is similar the one used in REST controller's resource methods? For example, I just annotate my @ServerEndpoint with @Suspendable and then my endpoint will handle all coming WS requests in a fiber.

[2015-01-30 16:53] circlespainter commented on #24
Not at this stage, currently you can use fibers to handle websockets only through Web Actors. I'll leave the issue open as a feature request.

[2015-01-30 17:15] cnsgcu commented on #24
Thanks @circlespainter. Looking forward to this feature. Great work on fiber.

[2015-01-30 17:26] circlespainter commented on #24
Thanks for your interest and appreciation, stay tuned!

[2015-02-12 10:02] circlespainter opened #25 "Tomcat's instrumenting classloader (harmless) instrumentation issue on Fiber#onResume()"
[INFO] [talledLocalContainer] co.paralleluniverse.fibers.instrument.UnableToInstrumentException: Unable to instrument co/paralleluniverse/fibers/Fiber#onResume()V because of catch for SuspendExecution
[INFO] [talledLocalContainer] 	at co.paralleluniverse.fibers.instrument.InstrumentMethod.accept(InstrumentMethod.java:253)
[INFO] [talledLocalContainer] 	at co.paralleluniverse.fibers.instrument.Inst

[2015-02-14 15:52] circlespainter commented on #2
Sorry for the late reply. We haven't started thinking about how to implement it yet but of course ideas and contributions (of any kind) are always welcome. Have a look at https://github.com/puniverse/comsat/blob/master/CONTRIBUTING.md as well.

[2015-02-14 16:09] circlespainter opened #26 "Exception in comsat-tomcat-loader:jdk8 w/Tomcat7 standalone"
When creating a test project based on https://github.com/puniverse/comsat-mvn-archetype with:

[code]

Running `mvn -Ptomcat7x dependency:properties clean verify` results in the webapp not being started because of:

[code]

[2015-02-14 23:28] mhluongo commented on #2
If I had an idea of how you guys want it to look to a Clojure dev, I might
take a crack at it. I tried to use the Java web actors from Clojure with
gen-class, but the the poor annotation interop stopped me.
On Feb 14, 2015 7:52 AM, "Fabio Tudone" <notifications@github.com> wrote:

[2015-02-15 12:15] circlespainter commented on #2
Ok let's keep in touch then, as soon as we think of an API we can organise. Thanks!

[2015-02-15 14:29] #26 closed

[2015-04-21 09:02] hsestupin opened #27 "Jdbc FiberConnection doesn't use Fibers where appropriate"
Hi, may be I'm misunderstood something. Is there any reason behind that fibers aren't used in every FiberConnection method which throws SQLException exception. For example java.sql.Connection#commit is a blocking method undoubtedly. Why don't we have to wrap it to something like this:

[code]

[2015-04-30 12:54] circlespainter commented on #27
Thanks for reporting this, I'll look into it very soon. Yes, they should really be fiber-blocking.

[2015-05-12 10:28] circlespainter opened #28 "Comsat's apache HTTP client doesn't report what's the problem when the reactor gets shuts down (IllegalStateException during request execution)"
See https://github.com/puniverse/photon/blob/master/src/main/java/co/paralleluniverse/photon/Photon.java#L117 about how to do it.

[2015-06-04 17:19] circlespainter commented on #27
Fixed with [this branch](https://github.com/puniverse/comsat/tree/jdbc-overhaul) that will be merged into master to enter next release.

[2015-06-04 17:19] #27 closed

[2015-06-06 00:35] ncliang opened #29 "FiberCloseableHttpAsyncClient is not public visible"
https://github.com/puniverse/comsat/blob/master/comsat-httpclient/src/main/java/co/paralleluniverse/fibers/httpasyncclient/FiberCloseableHttpAsyncClient.java

FiberCloseableHttpAsyncClient is not visible outside of package, so nobody is _really_ able to use it as it is intended to be used as described in the [docs](http://docs.paralleluniverse.co/comsat/#http-clients)

[2015-06-06 15:58] circlespainter commented on #29
True, thanks.

[2015-06-08 09:19] #29 closed

[2015-06-25 15:40] #28 closed

[2015-06-26 22:19] felixgao opened #30 "Current comsat on maven is using an out of date dropwizard"
version 0.30.0 is using an out dated version of dropwizard and pulls in com.codahale.metrics:metrics-core instead of io.dropwizard.metrics:metrics-core.

+--- co.paralleluniverse:comsat-dropwizard:0.3.0
|    +--- io.dropwizard:dropwizard-jdbi:0.7.1
|    |    +--- io.dropwizard:dropwizard-db:0.7.1
|    |    |    +--- io.dropwizard:dropwizard-core:0.7.1 -> 0.8.1 (*)
|    |    |    \--- org.apache.to

[2015-06-26 23:40] felixgao commented on #30
seems like up coming version 0.40 is using the newer version.  will look forward for the new version.

[2015-06-26 23:40] #30 closed

[2015-07-06 07:31] maoxianfly opened #32 "Exception in Fiber "fiber-10000001" co.paralleluniverse.fibers.VerifyInstrumentationException: Uninstrumented methods (marked '**') or call-sites (marked '!!') detected on the call stack:"
QUASAR WARNING: Assertions enabled. This may harm performance.
QUASAR WARNING: Quasar Java Agent isn't running. If you're using another instrumentation method you can ignore this message; otherwise, please refer to the Getting Started section in the Quasar documentation.
QUASAR WARNING: Fibers are set to verify instrumentation. This may *severely* harm performance.
Exception in Fiber "fiber-100000

[2015-07-06 07:33] maoxianfly commented on #32
code :

Fiber<String> stringFiber = new Fiber<>(new SuspendableCallable<String>() {
            @Override
            public String run() throws SuspendExecution, InterruptedException {
                try {
                 String url = "http://www.baidu.com";
                   HttpGet httpget = new HttpGet(url);
                   return   String resp = client.execute(httpget, BASIC_RESPONSE_HA

[2015-07-06 07:35] circlespainter commented on #32
The warning at the beginning tells that no agent is running. Is the agent running (or has AoT instrumentation been performed)?

[2015-07-06 07:37] maoxianfly commented on #32
use AOT instrumentation compile:

gradle file :

compileJava {
    println 'paralleluniverse compileJava'
    doLast {
        ant.taskdef(name:'instrumentation', classname:'co.paralleluniverse.fibers.instrument.InstrumentationTask', classpath: configurations.compile.asPath)
        ant.instrumentation(verbose:'true', check:'true', debug:'true') {
            fileset(dir: sourceSets.main.output.cl

[2015-07-06 07:38] maoxianfly commented on #32
classes {
    doFirst{
        println "Excuting scanSuspendables..."
        ant.taskdef(
                name:'scanSuspendables', classname:'co.paralleluniverse.fibers.instrument.SuspendablesScanner',
                classpath: "build/classes/main:build/resources/main:${configurations.provided.asPath}:${configurations.runtime.asPath}")
        ant.scanSuspendables(
                auto:true,

[2015-07-06 07:43] circlespainter commented on #32
Right. [AoT instrumentation is not enough](http://docs.paralleluniverse.co/comsat/#enabling-comsat) for integrations (like AHC's) that need instrumenting  3rd-party libraries. Can you please try using the agent instead?

[2015-07-06 07:51] maoxianfly commented on #32
ok ,
but quasar agent  Conflict with jrebel agent。

[2015-07-06 07:57] circlespainter commented on #32
What's the issue when using both?

[2015-07-06 08:14] maoxianfly commented on #32
E:\develop\Java\jdk1.8.0_25\bin\java

-javaagent:C:\Users\fly\.gradle\caches\modules-2\files-2.1\co.paralleluniverse\quasar-core\0.7.2\5251bd3d85cb8ea2d2902a68818eeddef80b447d\quasar-core-0.7.2-jdk8.jar
-agentpath:C:\Users\fly\.IntelliJIdea14\config\plugins\jr-ide-idea\lib\jrebel6\lib\jrebel64.dll

-Didea.launcher.port=7539 "-Didea.launcher.bin.path=C:\Program Files (x86)\JetBrains\IntelliJ IDEA 1

[2015-07-06 09:07] maoxianfly commented on #32
use quasar agent  and jrebel  agent success。
The problem has been solved .
thank you.

[2015-07-06 11:26] #32 closed

[2015-07-23 13:11] circlespainter commented on #23
Ongoing in https://github.com/circlespainter/FrameworkBenchmarks (`comsat-webactors` and `comsat-servlet` at present).

[2015-07-28 09:31] drkarl opened #35 "WebActor delegate to one or more actors and wait for response"
I have done a PoC for a project I'm considering using comsat. I have tried to use the Actors system, but there's not enough examples or documentation so I find myself trying to figure things up looking at existing classes, the comsat and quasar code and the examples.

Sorry but I'm new to the Actors model paradigm (I knew about actors before, since I've programmed in Scala and I've read about Akka

[2015-07-28 12:26] circlespainter commented on #35
In addition to the blog and the [docs](http://docs.paralleluniverse.co/comsat/#web-actors) (they were enough for me to build [quasar-stocks](https://github.com/circlespainter/quasar-stocks) which you probably have already found through the [comparison with Akka](http://blog.paralleluniverse.co/2015/05/21/quasar-vs-akka/)), there are examples [here](https://github.com/puniverse/comsat-examples/tree

[2015-07-29 09:44] drkarl commented on #35
Thanks @circlespainter, with your suggestions I've been able to remove the reference to the HttpRequest in the WebActor (although I'm relieved to know that an instance of a webactor is tied to a session, and so it would be private for the instance). I've changed it to do use a second receive in a loop to receive all the messages result from the actros to which I delegated the job, using a MessageP

[2015-07-29 10:01] circlespainter commented on #35
Java web sessions are typically identified through the `JSESSIONID` cookie value, then it's up to the client to manage cookies appropriately. For browsers I expect that at least requests from the same tab will be considered part of the same session but I can remember that different browsers used to have different behaviours w.r.t. e.g. multiple windows. Non-browser clients may behave again differe

[2015-08-04 17:51] circlespainter commented on #23
I'd say it's ready for PRs but I'd like to understand better a few more things about the Framework Benchmarks; no feedback so far via https://groups.google.com/forum/#!topic/framework-benchmarks/Gujdipuua7Q though.

@synapsechris maybe you can help answering those questions?

[2015-08-10 19:01] imperatorx opened #36 "Issue regarding JOOQ instrumenation and transaction proxies"
I have created the sample project https://github.com/imperatorx/comsat-jooq-test to illustrate this issue.

I'm using spring @Transactional annotations and Jooq. The FiberDataSource is wrapped in a spring TransactionAwareDataSourceProxy, which is instrumented via the suspendables and suspendable-supers file.

If I manually aquire a connection from the DataSourceProxy and run a PreparedStatement, I

[2015-08-12 09:42] circlespainter commented on #35
@drkarl Were my comments useful to you?

[2015-08-21 07:14] #36 closed

[2015-08-21 07:15] circlespainter commented on #36
The verification failure disappeared when using a Quasar version containing a fix for  https://github.com/puniverse/quasar/issues/108 which allowed me to find the remaining uninstrumented parts.

[2015-08-24 08:56] circlespainter commented on #23
* https://github.com/TechEmpower/FrameworkBenchmarks/pull/1719
* https://github.com/TechEmpower/FrameworkBenchmarks/pull/1720

[2015-08-26 08:40] pron opened #38 "Reduce the number of default IO threads in `FiberHttpClientBuilder`"
This number may have been left from a time when the Apache async client wasn't truly async. Should probably be changed to 1 or 2.

[2015-08-27 07:25] circlespainter commented on #38
Closed with #37.

[2015-08-27 07:25] #38 closed

[2015-08-27 19:03] azell opened #39 "comsat-httpclient does not expose the client as a FiberHttpClient"
[code]

I would like to pass an instance of FiberHttpClient to FiberRestAdapterBuilder:

[code]

Because the builder returns an instance of CloseableHttpClient, I have to typecast it to FiberHttpClient.  Ex:

[code]

[2015-08-27 19:13] #39 closed

[2015-09-09 03:16] azell opened #40 "Prepare for Retrofit 2.0"
Not sure if this will require changes in comsat-retrofit, but it is worth a look:
  http://inthecheesefactory.com/blog/retrofit-2.0/en

[2015-09-09 07:15] pron commented on #40
This might actually make Retrofit support much easier. Only a single method now is fiber-blocking: `Call.execute`.

[2015-09-10 22:58] yunspace commented on #23
@circlespainter nice work on the framework and it's great to see you've added tests cases into TechEmpower.

I've been trying to do some testing locally and noticed that the comsat version needs to be upgraded to `0.5.0` to avoid compilation issue with `0.5.0-SNAPSHOT` which doesn't exist anymore. I'll try to submit a PR, although the tests are in a branch which might be a bit complicated.

[2015-09-11 06:01] circlespainter commented on #23
@yunspace Thanks, I was planning to update the PRs to 0.5.0 stable once released so I'll do that shortly.

[2015-09-13 12:35] yunspace commented on #23
hi @circlespainter I tried to run the tests again using your latest commits:

    toolset/run-tests.py --install server --mode verify --test comsat-servlet
    toolset/run-tests.py --install server --mode verify --test comsat-webactor

I think for `comsat-webactor`, the setup.sh should be:

    fw_depends java8 maven

Otherwise there'll be compilation errors. Afterward fixing that I got the follow

[2015-09-13 12:40] yunspace commented on #23
btw if you haven't tried running the benchmark locally the steps are:

[code]

as per documentation here http://frameworkbenchmarks.readthedocs.org/en/latest/Development/Installation-Guide/#vagrant-development-environment

[2015-09-14 07:57] circlespainter commented on #23
Thanks for looking into it; yes bringing it up-to-date took more than I expected and indeed I'll need to re-run a test in the Vagrant environment as well. I'll get this sorted out by the end of the week.

[2015-09-17 03:45] circlespainter commented on #35
@drkarl closing for inactivity, you can always reopen.

[2015-09-17 03:45] #35 closed

[2015-09-18 12:57] circlespainter commented on #23
@yunspace Ok, now both run fine in my Vagrant env but it fails on CI in both cases, it looks like it can't setup `java8`as a dependency for some reason:

[code]

Is there anything in the framework's build source that could cause this (apart from the dependency to java8 which is there only because it's more performant, although they support java7 too)?

[2015-09-20 15:20] circlespainter commented on #23
@yunspace Just tried with the most recent `ubuntu/trusty64` box in the Vagrant development env and everything seems to run fine, so not really sure where that CI issue comes from.

[2015-09-21 05:14] yunspace commented on #23
I had some issues updating to `java8` in the dropwizard benchmark also
previously where the dependency just wasn't getting installed. I will
double check how I worked around it and get back to you.

On Mon, Sep 21, 2015 at 1:20 AM, Fabio Tudone <notifications@github.com>
wrote:

[2015-10-25 13:20] circlespainter commented on #23
The servlet framework has been merged, still having a strange failure on CI on the webactors one (on a fresh `vagrant-development` still works), https://github.com/TechEmpower/FrameworkBenchmarks/pull/1719.

[2015-11-26 17:25] circlespainter commented on #23
Update: https://github.com/TechEmpower/FrameworkBenchmarks/pull/1719#issuecomment-159963564

[2015-12-06 23:08] Altaflux opened #44 "Standalone Tomcat's instrumenting fails to load at obfuscated classes"
Without exact information about the reasons it looks like some obfuscated classes when being loaded by the QuasarWebAppClassLoader fail to be parsed, not because Quasar cannot instrument them, but because their names are not parse-able correctly and fail with StringIndexOutOfBoundsException which fully stops the web application from starting.

On line 72 of QuasarWebAppClassLoader :
if (entry != n

[2015-12-14 09:32] circlespainter commented on #23
Update: https://github.com/TechEmpower/FrameworkBenchmarks/pull/1719#issuecomment-164388683

[2015-12-17 10:50] circlespainter commented on #23
The web-only tests of `comsat-servlet` and `comsat-webactors` (both with configurations for all servers/backends) have been merged.

[2016-01-15 08:26] naivefun opened #45 "ClassNotFound when run with -javaagent"
Even I add the dependency to pom the same exception occurs. How to fix this? Thanks.

[code]

[2016-01-15 09:47] circlespainter commented on #44
Sorry for the delay, thanks, I'll have a look at it soon.

[2016-01-15 09:50] circlespainter commented on #45
Can you share the POM (or even better a small project) that triggers the problem?

[2016-01-30 20:53] azell opened #46 "Upgrade to okhttp3"
Latest release is 3.0.1 which uses different package name (okhttp3.OkHttpClient, etc.).

[2016-01-31 07:49] circlespainter commented on #46
That certainly doesn't help, it'll be easier when it's fixed.

[2016-02-01 05:44] azell commented on #46
Is there any technical reason not to support Comsat Retrofit with OkHttp as the underlying client in addition to Apache?

[2016-02-01 07:23] circlespainter commented on #46
Not that I'm aware of, indeed that's something worth looking into.

[2016-02-01 07:23] circlespainter commented on #46
Would you mind creating a feature request issue about that too?

[2016-02-01 16:52] azell opened #48 "Add OkHttp client as option to comsat-retrofit"
Based on the conclusions from http://blog.paralleluniverse.co/2015/12/02/http-clients/

It would be nice to support using OkHttp as a client to comsat-retrofit in addition to Apache HttpClient.  Hopefully most of the hard work has already been implemented in comsat-okhttp.

[2016-02-04 22:02] roded opened #49 "HttpChannel calls unsupported close() on 400-600 HTTP codes"
Hi,
Seems like HttpChannel is calling its close() on HTTP errors (400-600) and redirects.
This seems to make it impossible to return HTTP errors without an UnsupportedOperationException.
Or is there something I missed?

[2016-02-04 22:34] circlespainter commented on #49
Can you try with `0.6.0-SNAPSHOT`?

[2016-02-05 08:05] roded commented on #49
Same behaviour.
Should I submit a PR which removes the close() calls?

[2016-02-05 08:17] circlespainter commented on #49
I see it's still present in `comsat-actors-servlet`, is that the backend you're using?

It should be been fixed already in the Sonatype-published `0.6.0-SNAPSHOT` artifacts for `comsat-actors-undertow` and `comsat-actors-netty` (which at present are from the `webperf` branch performance improvements).

Thanks for proposing a PR but I'd rather do it myself as I'd like to refactor few more things ac

[2016-02-05 14:33] roded commented on #49
Yeah, I've been using comsat-actors-servlet.
I'll switch promptly.

Is there a release date for 0.6.0?

[2016-02-06 08:45] circlespainter commented on #49
No but probably it won't be long.

[2016-02-06 08:49] roded opened #50 "Get remote address from HttpRequest"
Hi,
Can the remote address be exposed by HttpRequest?
I'm guessing this is just a matter of implementing the wrappers' methods.
Thanks

[2016-02-07 19:43] roded opened #51 "undertow.HttpRequestWrapper getStringBody() null checking"
In decodeStringBody(), in case getCharacterEncoding() (or any other method in the chain) returns null, the parent getStringBody() method throws the NPE instead of returning null itself.

[2016-02-08 07:06] circlespainter commented on #49
A new `0.6.0-SNAPSHOT` should be available on Sonatype with a fix.

[2016-02-08 07:06] circlespainter commented on #51
A new `0.6.0-SNAPSHOT` should be available on Sonatype with a fix.

[2016-02-08 07:47] roded commented on #51
Thanks.

[2016-02-10 14:07] #49 closed

[2016-02-10 14:07] #51 closed

[2016-02-10 14:56] circlespainter commented on #50
Hi, yes it is a very useful addition indeed. It didn't make for [`0.6.0`](https://github.com/puniverse/comsat/releases/tag/v0.6.0) but it'll part of the next release.

I'll let you know as soon as there's a snapshot available including it.

[2016-02-10 14:57] circlespainter commented on #49
[0.6.0](https://github.com/puniverse/comsat/releases/tag/v0.6.0) released.

[2016-02-13 14:16] roded commented on #50
Much appreciated.

[2016-02-13 22:19] Altaflux commented on #44
Thanks for taking a look,
unluckily I cannot send you the library we are using that triggers the problem as it is third party proprietary but I can help testing it to see if it resolves the issue.

[2016-02-14 10:49] circlespainter commented on #44
Can you check if it still happens with the tip of the `fix-44` branch? There's also a `0.7.0-SNAPSHOT` published on SonaType that includes this robustnesess (tentative) fix.

[2016-02-20 17:04] Altaflux commented on #44
@circlespainter
Hi, Snaphot 0.7.0-Snapshot did the trick and now it can load the obfuscated classes correctly.

Thanks a lot!

[2016-02-20 21:38] #44 closed

[2016-02-22 16:09] roded commented on #50
This is now blocking for me.
Can I assist with this in anyway?

[2016-02-22 21:10] circlespainter commented on #50
Right now we have some higher priorities but we plan to have a look soon at it. Without commitment, it _could_ be as soon as next week.

[2016-02-23 06:02] roded commented on #50
No worries, I jumped the gun there..
Thanks.

[2016-02-28 05:34] circlespainter commented on #45
@naivefun Does it still happen? If you can't share a project or a POM, what's your project setup? Is there a chance that you have Kryo version conflicts or classloading issues or are you excluding it explicitly? Kryo is a [direct compile-time and run-time (but not instrumentation-time) Quasar dependency](https://github.com/puniverse/quasar/blob/master/build.gradle#L447) so it's quite strange that

[2016-03-09 10:34] circlespainter commented on #50
A new `0.7.0-SNAPSHOT` should now be available on SonaType with a new `String HttpRequest::getSourceAddress()` WebActors API implemented in all backends (servlet through `getRemoteAddr`, Undertow through `getSourceAddress` and Netty through the channel's `getRemoteAddress`) but without proxy-related header inspection (because this might not be what the caller wants). Let me know if this works for

[2016-03-11 16:10] roded commented on #50
Much obliged. Works fine (tried it for Undertow).
As for suggestions, as the client code using HttpRequest has no knowledge of the underlying InetSocketAddress (when working w/ Netty or Undertow), maybe it would be better to expose 3 methods instead of the one: getAddress()/getHost()/getPort(). Or rather, use InetSocketAddress's getHostAddress() instead of toString() which has a special formatting

[2016-03-11 16:30] circlespainter commented on #50
No problem, the API was lacking that information indeed.

Yes I was pondering the same but I had missed `getRemoteHost` / `getRemotePort` in the servlet API so I ended up exposing the unparsed address. Thanks for the suggestion, I'll think again about it.

[2016-03-15 12:32] roded opened #54 "SimpleHttpRequest & SimpleHttpResponse access"
Hi,
I'm trying to test a `WebActor` by fabricating and sending it `WebMessage`s directly.
`SimpleHttpRequest` & `SimpleHttpResponse` are useful for this purpose but are of `private` access.
Can they be made `public`?

Edit: Actually, `SimpleHttpRequest` is more relevant to the issue. I don't need to create `SimpleHttpResponse`s.

[2016-03-16 14:00] circlespainter commented on #54
You should already be able to create a custom `SimpleHttpResponse` by using `HttpResponse.Builder.` (should you need it). And actually it looks to me like an equivalent `build` method is missing in `HttpRequest.Builder`. Would it work for you?

[2016-03-16 14:23] roded commented on #54
Yes, that's better.
Thanks

[2016-03-16 14:29] #54 closed

[2016-03-16 15:08] #50 closed

[2016-03-16 15:13] circlespainter commented on #50
Exposing `String getSourceHost()` (using either `InetSocketAddress::getHostString()` or `HttpServletRequest::getRemoteHost()`) and `int getSourcePort()` (using either  `InetSocketAddress::getHostPort()` or `HttpServletRequest::getRemotePort()`). Undertow eposes the `InetSocketAddress` and even in Netty-based Web Actors the `SocketAddress` willl always actually be `InetSocketAddress` (although ther

[2016-03-16 15:43] roded commented on #50
Cool.
Is there a plan to install the latest snapshot on sonatype anytime soon?

[2016-03-16 16:23] pron commented on #50
We'll do it tomorrow.

[2016-03-17 04:47] circlespainter commented on #50
A new snapshot should be available on SonaType.

[2016-03-17 04:47] circlespainter commented on #54
A new snapshot should be available on SonaType.

[2016-04-20 21:38] roded opened #56 "AutoWebActorHandler filtered scan"
`AutoWebActorHandler` currently scans the entire classpath for `@WebActor` annotated classes.
In my case, this is a shame as there's a single `@WebActor` annotated class to be found.

As I rather not lose the convenience of the `AutoWebActorHandler`, I'm wondering if it would be possible to allow the handler to accept a specific package name for scanning in order to save some of the loading time.

[2016-04-21 08:21] circlespainter commented on #56
Something can surely be done; how significant in your case is the bootstrap slowdown due to the `@WebActor`-related classpath scanning?

[2016-04-21 08:36] roded commented on #56
Locally the scan takes around 5 seconds (+/- depending on debugging and etc.).
It would be a nice delay to cut.

[2016-04-26 07:51] circlespainter commented on #56
Could you try with a `0.7.1-SNAPSHOT` built from the `impl-56` branch? You can now construct Undertow's and Netty's `AutoWebActorHandler` by passing a list of packages to limit the class loading from: let me know if and by how much this improves your bootstrap time.

[2016-04-26 15:27] roded commented on #56
That brought it down to less than 2 seconds which is great (I didn't bother doing any actual measurements though).
Thanks!

[2016-04-26 16:07] hsestupin opened #57 "Hibernate-orm support"
Recently I've tried to use FiberDataSource from comsat-jdbc. But it can't be used along with hibernate. I've started to add instrumentation manually through **suspendables** file but it seems to be a lot of work. So are there any plans to support hibernate instrumentation by quasar team?

[2016-04-26 18:46] circlespainter commented on #56
Good! You should now be able to download a `0.7.1-SNAPSHOT` containing the feature from SonaType too.

[2016-04-26 18:46] #56 closed

[2016-04-27 04:58] pron commented on #57
Hi.
Even though Hibernate will work with Quasar in Java 9 (which would make all instrumentation completely transparent and not require any annotation of suspendable methods), we don't plan on supporting Hibernate beforehand or even officially afterwards. The reason is that Hibernate's design is pretty much antithetical to the lightweight threading concept, as it requires incredibly deep stacks.

F

[2016-04-27 07:56] hsestupin commented on #57
Thanks! I'll give it a shot

[2016-04-27 07:56] #57 closed

[2016-04-27 13:46] roded opened #58 "HTTP Header case sensitivity in HttpMessage"
Hi,
As HTTP headers are case insensitive by the specification, it would be useful to have the implementations of `co.paralleluniverse.comsat.webactors.HttpMessage` take that into account and apply some case normalization.
Otherwise (unless I'm missing something) checking for the existence of a header without regards for its case is a bit cumbersome.

[2016-05-04 19:40] jsteinich opened #59 "NullPointerException Unable to instrument class co/paralleluniverse/fibers/servlet/FiberHttpServlet"
Getting an error when starting up a Jetty server via gretty or Eclipse Jetty Plugin during instrumentation.

`[quasar] WARNING: Can't determine super class of co/paralleluniverse/fibers/servlet/FiberServletContext
[quasar] ERROR: Unable to instrument class co/paralleluniverse/fibers/servlet/FiberHttpServlet
java.lang.NullPointerException
        at co.paralleluniverse.asm.Item.a(Unknown Source)

[2016-05-06 08:25] circlespainter commented on #59
It looks like a classloader issue. I don't know much about Gretty but I suspect it uses the classloading structure of a standalone servlet container; have you tried using the [Jetty instrumenting classloader](http://docs.paralleluniverse.co/comsat/#enabling-comsat) instead?

Also, do you need multiple webapps? If not, wouldn't an embedded Jetty work for your use-case, like in [this test](https://g

[2016-05-06 18:33] jsteinich commented on #59
I didn't have any luck the instrumenting classloader either, but I am new to both Jetty and Gretty so I may have just been configuring it wrong.

I have switched over to using embedded Jetty and things seem to be working better now.

Thanks for taking a look.

[2016-05-07 18:24] circlespainter commented on #59
No problem, I'll have a try with the instrumenting classloader before closing.

[2016-05-09 14:34] roded opened #62 "AutoWebActorHandler session handling"
`AutoWebActorHandler` first creates a session and then tries creating an actor based on the current `HttpServerExchange`.
In cases where the first HTTP path requested it not handled by any defined `WebActor`s (a case which is now possible since the HTTP handlers can be chained), a new session will be created with a null actor reference, leaving the user of the session unable to initiate a `WebActo

[2016-05-09 15:01] roded commented on #62
An attempt at a solution: https://github.com/roded/comsat/commit/6412b42304f1f5657d284d74c945eab1146b0ee7

[2016-05-10 10:29] circlespainter commented on #62
Looks good, could you create a PR?

[2016-05-11 08:23] #62 closed

[2016-05-19 10:38] circlespainter commented on #48
Closed with https://github.com/puniverse/comsat/pull/64/commits/acfb31f624db397b9955fe6765cb1a056a7cbf8e. Thanks a lot!

[2016-05-19 10:38] #48 closed

[2016-06-15 14:27] candrews opened #65 "FiberRequestMappingHandlerAdapter: "subclass instead of this copy&paste horror""
[FiberRequestMappingHandlerAdapter.java](https://github.com/puniverse/comsat/blob/8245647db21346a040139cd21db70a0d2159c453/comsat-spring/comsat-spring-webmvc/src/main/java/co/paralleluniverse/springframework/web/servlet/mvc/method/annotation/FiberRequestMappingHandlerAdapter.java) has this comment:
[code]

https://jira.spring.io/browse/SPR-12460 has been fixed, so FiberRequestMappingHandlerAdapter

[2016-07-17 14:15] #58 closed

[2016-07-21 11:31] AbrahaBn opened #70 "VerifyInstrumentationException: Target class class co.paralleluniverse.fibers.servlet.FiberHttpServlet$ServletSuspendableRunnable has not been instrumented."
I am working on a jax-rs restful web service maven project. I am using standalone tomcat 8.0 server. i copied comsat tomcat loader to  Tomcat 8.0\lib folder.  I created webapp/META-INF/context.xml file. The content of the file is given below:

<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <Loader loaderClass="co.paralleluniverse.comsat.tomcat.QuasarWebAppClassLoader" />
    <Manager pathna

[2016-07-21 12:13] circlespainter commented on #70
What is the exact Tomcat version (e.g. 8.0.36)?

[2016-07-21 12:23] AbrahaBn commented on #70
The Tomcat version is 8.0.36. I also checked in tomcat-7.0.70. Same issue happened in both scenarios.

[2016-07-27 06:48] AbrahaBn commented on #70
My OS platform is windows 10.

[2016-10-05 12:38] victornoel opened #74 "WebActorInitializer should not assert on the presence of websockets"
Hi,

For people using web actors without websockets, it is not needed to assert on the presence of websockets in a servlet container, actually, it is a problem if one does not want to enable them!

Maybe the check should be done only in case the `@WebActor` annotation has web socket url patterns?

[2016-10-05 12:40] pron commented on #74
Sure, makes sense. Want to submit a PR?

[2016-10-05 12:48] victornoel commented on #74
Oh, yeah, no problem, will do :)

[2016-10-05 12:55] victornoel commented on #74
And here it is :)

By the way @pron, is there any ETA for the next release of comsat?

[2016-10-05 13:34] victornoel opened #76 "[webactors] Provide mean to access underlying servlet request (or other implementation)"
Hi,

When receiving an `HttpRequest` with a `WebActor`, it is not possible to access the underlying `HttpServletRequest` (or at least I didn't find a way to do so :) if we are sure the actor is running on a servlet.
My personal need is to be able to access the current `HttpSession` (because it contains authentication information). Well, I actually need the `HttpServletRequest` itself because I'm u

[2016-10-06 13:28] pron commented on #76
Hmm, this may require some thought. We can't have any types exposed via the API that require a specific dependency which may not exist, and the underlying engine may be different anyway. I'm open to suggestions for an API that returns an `Object`, which meaning depends on the implementation.

[2016-10-06 14:05] victornoel commented on #76
Yep, or at least let a user of the library cast the `HttpRequest` to one of its underlying type? In that case `HttpServletRequest` itself can expose `HttpServletRequest` and others!

No need for a generic API I think, because if at one point there will be a cast, it may be better to simply cast the `HttpRequest` itself… but then, `HttpServletRequest` becomes itself part of the actors-servlet API (

[2016-10-07 08:28] victornoel commented on #76
To be totally clear about what I mean, the idea would simply to make the class `co.paralleluniverse.comsat.webactors.servlet.ServletHttpRequest` `public` and add getters for `HttpServletRequest request` and `HttpServletResponse response`. That's all :)

[2016-10-07 11:39] pron commented on #76
I'm not opposed, but it would require some refactoring. For one, the class is currently named `HttpRequestWrapper` (which would need to be changed).

[2016-10-07 12:20] victornoel commented on #76
right, I didn't see it has been renamed apparently since 0.7.0 :)
What is wrong with the current name by the way? Just that it doesn't seem a very `public` name?

So, would you like me to propose a PR that does that (and rename `HttpRequestWrapper` back to `HttpServletRequest`)?

[2016-10-08 16:48] pron commented on #76
Yeah, it's a bad name, and yes a PR would be nice. Let's make it `ServletHttpRequest`, just to keep the implementation name first.

[2016-10-10 09:37] sheinbergon opened #77 "comsat-tomcat-loader-0.7.0-jdk8.jar not compatible with quasar-core-0.7.6-jdk8.jar"
Hi all

it seems that a recent change made to co.paralleluniverse.fibers.instrument.QuasarInstrumentor  ( in 0.7.6 , as version 0.7.5 still works) removed this constructor :

[code]

So now , when trying to activate the tomcat-loader by overriding the loader in META-INF/context.xml , you get a NoSuchMethodException

I know I'm opening this issue in the comsat and not the quasar page , but I aassum

[2016-10-10 11:46] victornoel commented on #76
I submitted #78! I also changed the name for the other implementations and made some choices as to what is visible publicly for each.

[2016-10-10 14:16] pron commented on #74
Thanks.
This usually depends on the number of features/bugs and accumulated and their utility/severity. I think we're up for a release very soon.

[2016-10-10 14:27] #74 closed

[2016-10-10 15:16] #76 closed

[2016-10-11 06:37] pron commented on #77
This is already resolved in master and in comsat `0.7.1-SNAPSHOT`.

[2016-10-11 06:37] #77 closed

[2016-10-14 02:51] tigerMoon opened #79 "FiberHttpClient(ApacheHttpClient) with Spring Boot integration test get Error `java.net.SocketException: Too many open files`"
Here is the detail code in [Github](https://github.com/tigerMoon/springboot-fiberclient-integration-test)

[2016-10-17 08:51] safar opened #80 "HttpResponse.error missing body"
I am using Netty together with Comsat's webactors.

Body string set with `co.paralleluniverse.comsat.webactors.HttpResponse.error()` method is never displayed.

I have following block of code:

[code]

When it succeeds it will print out "JSON parsed successfully" in Response body, but if it fails it returns 500 Internal server error  without body string that was set to "RPC failed".

Here is the o

[2016-10-17 18:54] pron commented on #80
Hi.
The best way to get this addressed as quickly as possible is for you to troubleshoot the problem yourself by looking at the Comsat code and submit a PR. This seems like a very contained, local problem, that doesn't require deep understanding of Quasar or Comsat. Want to give it a try?

[2016-10-19 08:06] tigerMoon commented on #79
@circlespainter  can you help me .thank you.

[2016-10-19 09:40] victornoel opened #81 "javax.websocket classes shouldn't be madatory to be in the classpath"
This is a kind of spinoff of #74.

Basically, because `WebActorInitializer` refers to `javax.websocket.server.ServerContainer` and other classes from the javax.websocket package, when the JVM tries to load `WebActorInitializer`, it also tries to load the websocket ones, which must then be in the classpath even tough one (such as me :) would want them not to!

It seems to me that the simplest way t

[2016-10-19 10:18] pron commented on #81
What do you mean by "it becomes a bit complex to maintain and not reintroduce problems"? Can you be a bit more specific?

[2016-10-19 10:31] pron commented on #79
Hi.
Are the requests even running inside fibers? You can test by calling `Fiber.currentFiber()` from within requests. It seems like you haven't enabled fibers in your application at all. See [the documentation](http://docs.paralleluniverse.co/comsat/#spring) for how to do it.

[2016-10-19 12:16] victornoel commented on #81
@pron I means that if in 1 year, you, without noticing, reintroduce direct references to `javax.websocket` in `WebActorInitializer` or any other class  where we would like to avoid it, then nothing will warn you.

[2016-10-19 19:41] pron commented on #81
There's a tool called [Macker](https://github.com/andrena/macker), which I used a long time ago for this kind of thing. You may want to give it a try. But not everything needs to be automated. I assume you'll warn me.

I'd certainly consider a PR.

[2016-10-20 07:03] victornoel commented on #81
Ok, I will make a PR very soon :)

[2016-10-20 07:17] victornoel commented on #81
@pron the same question arises with the class `co.paralleluniverse.comsat.webactors.servlet.ServletWebActors`: it contains both websocket and non-websocket utilities.

I don't think we can simply extract the websocket-dependent method because it would break API, but what do you think of making them deprecated for now (and delegating to another class) and then removing them in the next major versio

[2016-10-20 07:48] pron commented on #81
Yeah, that would be overkill. Are you sure, though, that `ServletWebActors` loads the websocket classes even if the relevant methods are never called?

[2016-10-20 07:58] victornoel commented on #81
I just checked and yes it does happen :/
The more I think about it, and the more I think it's a lot of work just to avoid a dependency: I'm ok to make a PR, but if you agree that all of this is too much, let's abandon the idea :)

[2016-10-20 08:34] tigerMoon commented on #79
than you pron. this is the bug of my configuration of HttpClient.  i had set a large IO thread number . `@Value("${fiber.http.client.io.thread:1000}")`  . which occupies the system resource.

I have used Comsat and  Quasar in our production for concurrency http request. it`s so cool.

[2016-10-20 08:34] #79 closed, assigned to nobody

[2016-10-24 17:31] pron commented on #79
Glad you've solved this.

[2016-10-24 17:32] pron commented on #81
Yeah, I think we'll wait until there's stronger motivation that just including an API JAR, considering how many unused JARs are in most applications anyway.

[2016-10-26 13:02] victornoel opened #82 "Jersey integration does not work with Jersey's SSE"
Hi,

When using the [SSE Jersey extension](https://jersey.java.net/documentation/latest/sse.html), the `FiberHttpServlet` seems to have problem integrating with Jersey's way of working.
When the stream is started, I get the following stacktrace:

[code]

I think maybe it is related to the fact that `FiberServletRequest` does not support async management? I've seen in it that `startAsync` would thr

[2016-11-08 11:10] sheinbergon opened #83 "Any plans 0.7.1 with Redis support"
Hi

I'm aware of https://github.com/puniverse/comsat/issues/7

However , I also found this

https://github.com/circlespainter/quasar-redis-example

@circlespainter / @pron amazing work.

What is the plan to merge the 'redis' branch to the master and release 'comsat-redis' as  a stable feature ?

Can I help with something ?

[2016-11-11 16:26] sheinbergon commented on #83
@pron any comment ?

[2016-11-15 08:55] victornoel opened #84 "Missing suspendables in comsat-jdbi"
Hi,

Apparently the following suspendables is missing in comsat-jdbi:
[code]

Or actually, I suspect that the following suspendables:
[code]
Should be:
[code]

As for `$1`, I don't know if it needs to be marked as suspendable, it is possible, but then it should be:
[code]

[2016-11-15 08:56] victornoel commented on #84
I am using jdbi 2.73, but it is the same with 2.72, the version referenced in comsat-jdbi…

[2016-11-15 09:12] victornoel commented on #84
Actually, I think there is a lot more missing…

Some are related to all the SQL Object API way of using jdbi… it's a mess :)

[2016-11-15 09:33] victornoel commented on #84
Here are some others:

[code]

[2016-11-15 09:43] pron commented on #84
A PR would be welcome.

[2016-11-15 10:28] safar opened #85 "Read File from HttpRequest"
I have mixed form with text and file input fields which is being processed by a WebActor. I have to be able to read text input fields by their key and File contents from the same message.

I have used code below to read sent request using WebActor using Netty:

[code]
this is the output
[code]

Are we intended to parse these messages manually? Is there a method which can read File part of HttpRequ

[2016-11-15 10:52] victornoel commented on #84
Once I am exactly clear on the problem, I would love to :) For example I don't exactly understand how all of this goes hand in hand with the `JdbiClassifier`…

See also my post on the mailing list which details the context of these issues: https://groups.google.com/forum/#!topic/comsat-user/j4oIEtxHW0I

[2016-11-15 17:13] pron commented on #85
Multipart parsing is currently not natively supported by Web Actors. You have a few options: you can either parse the buffer using a library such as [Apache Commons FileUpload](http://commons.apache.org/proper/commons-fileupload/apidocs/org/apache/commons/fileupload/MultipartStream.html), or you can handle the upload in a different servlet resource and use Servlet 3's native support for multipart.

[2016-11-16 19:40] pron commented on #84
The classifier is a programmable way of marking suspendable methods. If we're dealing with generated methods (that don't always have the same class name), the classifier would be a good place to add them.

[2016-11-19 14:53] circlespainter commented on #84
@victornoel Could you also add corresponding test cases when you work on the PR? Thanks, expanding test (and use case) coverage is always a great thing.

[2016-11-21 09:46] victornoel commented on #84
@circlespainter sorry, but I'm not sure I will be working on that for now (but if/when I do, I will add tests yes!), because it's too much hassle to make it works and the logs are filled with garbage (I'm not sure why, see the mailing list issue).
For the record, I ended up using `runBlocking` with my own `ExecutorService` to call jdbi: this ends up doing the same as using the comsat jdbi integrat

[2016-11-29 10:15] safar opened #86 "comsat-jooq Null Pointer Exception when using jOOQ's store() method"
I'm using jOOQ together with comsat webactors. Here is relevant part of my build.gradle:
[code]

I have wrapped my Postgres data source in FiberDataSource
[code]

When I try to store a new record from jOOQ generated class, fibers throws Null Pointer Exception:
[code]
[code]
I have enabled debugging in jOOQ and query it tries to execute is valid and can be ran manually on the DB.

I have tried to d

[2016-11-29 11:42] pron commented on #86
Hi. Are you actually running the agent? Listing the JAR in the dependencies isn't enough.

[2016-11-29 12:01] safar commented on #86
Yes, agent is running. Definition in build.gradle:

[code]

[2016-11-29 19:17] pron commented on #86
Can you run with the `verifyInstrumentation` flag?

     -Dco.paralleluniverse.fibers.verifyInstrumentation=true

[2016-11-30 08:51] safar commented on #86
I have run it with verifyInstrumentation flag as requested. I have separated each warning in a separate block for easier referencing. My guess is that instrumentation is not working correctly for some o jOOQ's methods. Any help would be greatly appreciated.

1.
[code]
2.
[code]
3.
[code]
4.
[code]
5.
[code]
6.
[code]
7.
[code]
8.
[code]
9.
[code]
10.
[code]
11.
[code]

[2016-12-06 06:05] icode opened #88 "comsat-jersey-grizzly"
has grizzly server for jersey?

[2016-12-12 10:25] kvchoi opened #89 "does spring boot 1.4.2 not supported now ?"
when i try spring boot 1.4.2.RELEASE with comsat-spring-boot 0.7.0 , it's always 404, after downgrade to 1.3.3.RELEASE make it well.
see : https://github.com/kvchoi/comsat-spring-boot-sample.git

[2016-12-12 17:08] circlespainter commented on #83
`comsat-redis` implements [Jedis](https://github.com/xetorthio/jedis) only partially at this stage and, being a very young integration and notwithstanding the port of the test suite, there might well be serious bugs (e.g. performance or stability) when actually using it, so I'm not for releasing it immediately in an official stable.

It is also true that a wider user base would help with the sharp

[2016-12-12 17:23] circlespainter commented on #88
[I read](http://www.oracle.com/webfolder/technetwork/tutorials/obe/java/basic_grizzly_jersey/jersey-grizzly-json-service.html) [Jersey](https://jersey.java.net/) can run on [Grizzly](https://grizzly.java.net/) but I don't think Grizzly offers a servlets container personality and `comsat-jersey-server` builds upon `comsat-servlet`, so I think at present you can't have a fiber-based JAX-RS server on

[2016-12-12 17:27] circlespainter commented on #85
I don't see big advantages offered by specifically supporting multipart in Web Actors. @safar Why would you like to use Web Actors specifically in this case and won't some other method do? For example [Netty seems to have a dedicated handler](https://netty.io/4.0/api/io/netty/handler/codec/http/multipart/InterfaceHttpPostRequestDecoder.html).

[2016-12-13 00:55] icode commented on #88
@circlespainter no, grizzly + jersey not use servlet, is a lightweight service. like netty

[2016-12-13 10:48] pron commented on #83
Perhaps @sheinbergon can give it a try using the redis branch, and we'll decide based on his experience.

[2016-12-13 11:40] sheinbergon commented on #83
Do you have any holes you'd like to cover in specific ?
Concurrency tests ? I'm willing to help , just provide the what :-)

[2016-12-14 17:01] circlespainter commented on #83
Here are a few ideas:

- Using it in a real-world scenario as @pron suggested and providing improvements / fixes as PRs (best option IMO)
- Concurrency / load tests / benchmarks with analysis and improvement PRs
- More Jedis API coverege (and associated tests port), you can find a comprehensive list of unimplemented features in https://github.com/circlespainter/quasar-redis-example

[2016-12-14 17:22] sheinbergon commented on #83
@circlespainter @pron

OK . I'll run some manual tests for now the first chance I have and report back on the following subjects :
- Functional tests
- Load tests
- Coverage tests ( based on importance )

[2016-12-20 20:18] vlad-poskatcheev-tealium opened #90 "Ahead-of-Time Ant Task instrumentation for Comsat?"
I'm running into an issue where it does not seem to be possible to instrument quasar-comsat classes ahead-of-time via a Maven Ant Task (as described in [docs.paralleluniverse.co/quasar](http://docs.paralleluniverse.co/quasar)). Quasar Fibers log an instrumentation error and point to classes in quasar-comsat package.

General setup of my project:
- using quasar-core
- using quasar-comsat (in partic

[2016-12-22 22:17] pron commented on #90
Yes, that's a good point. Comsat classes should be instrumented AOT.

[2017-01-06 17:13] gitplaneta commented on #86
@safar , did you manage to solve that issue? I'm experiencing something similar...

[2017-03-11 20:37] fab1an commented on #86
I have a similar problem using JDBC directly:

[code]

[2017-04-11 16:30] jonathannaguin commented on #46
OkHttpClient is no longer "final", at least in the latest version, is this something we can have upgraded?

[2017-04-18 08:36] icode commented on #88
@circlespainter or `jersey-server` unwith `servlet`, `jersey` not must need `servlet`

[2017-04-25 20:17] sirsavary opened #94 "Fiber blocking methods throwing "Uninstrumented Method" warning in Dropwizard + jOOQ"
The application is running with the Quasar java agent and the verifyinstrumentation flag. Any and all fiber blocking methods (tested both Strand.sleep and Fiber.sleep) or comsat-jOOQ related stuff throws errors. I have verified that the datasource instance is wrapped and the main application class is extending FiberApplication. The request itself is running in a fiber (verified with Strand.current

[2017-05-09 05:47] circlespainter commented on #90
I agree but please consider that several Comsat modules also require
instrumenting some methods in the 3rd-party libraries they integrate; this
means that, if you can't use the agent at all, oftentimes having just
Comsat AOT-instrumented is not going to help you anyway (unless of course
you create and use your own AOT-instrumented builds of those 3rd-party
libs).

On Fri, Dec 23, 2016 at 12:17 AM,

[2017-08-24 09:54] adityalad-mmt commented on #70
I am getting the same exception. I am on Tomcat 8.0.33/Windows 7. No clue why. I have done the tomcat instrumentation, Jersey integration.

[2017-08-31 05:46] adityalad-mmt commented on #70
I removed comsat Jersey from my application and tried to use the comsat spring4 integration, as I thought Jersey integration isnt working correctly. But I got the same exception with comsat-spring mvc as well. I think the main problem here was that the instrumentation was never happening in the first place on my Tomcat 8.0.33 through the tomcat quasar classloader. I downloaded the spring4 example

[2017-10-28 17:10] ariloudev opened #95 "Dynatrace conflict"
When the DynaTrace One Agent is installed on the machine running a Java application with Quasar java agent, the application startup fails when Quasar tries to instrument Dynatrace classes.

[2017-10-28 17:26] ariloudev commented on #45
Happens for me as well with
- ```Quasar 0.7.9```
- ```Spring Boot```

[2017-12-12 09:55] publicocean0 opened #97 "Question integration"
Sorry but how it is possible you integrated fibers with spring or other frameworks that contains tons of synchronized keyword inside ? Is there a trick ?

[2017-12-12 09:59] publicocean0 commented on #97
I have a idea using instrumentation .... maybe it is already existent ?

[2018-03-21 15:04] fangstao opened #98 "exception in spring boot 2.0.0"
org.springframework.context.ApplicationContextException: Unable to start web server; nested exception is org.springframework.context.ApplicationContextException: Unable to start ServletWebServerApplicationContext due to missing ServletWebServerFactory bean.

[2018-03-26 22:01] bbarin commented on #45
anyone managed to circumvent this problem? it works with spring-boot:run but fails while running regular java -jar.....

[2018-03-26 22:26] ariloudev commented on #45
Sorry @bbarin. I don’t remember if I solved this or not. This was an experimental task where I compared using various async IO frameworks. In tthe end of the day I decided to use AsyncHttpClient because it produced best results in my tests.

[2018-03-28 21:18] bbarin commented on #45
Hey just to let anyone who is interested in this subject know.
It turns out that spring boot uses a different classloader when packaged via its maven plugin.
So I switched to shade plugin and after some tweaks, I've managed to make it work as an uber jar.

[2018-06-26 13:12] bbarin commented on #98
I'm also facing the same problem. I copied some of the classes from quasar direct to my project and skip the use of the annotation FiberSpringBootApplication. It goes a bit further but crashes on an error like this:

ERROR: Unable to instrument class org/springframework/boot/web/embedded/undertow/UndertowServletWebServerFactory
java.lang.NullPointerException
	at co.paralleluniverse.asm.Item.a(Unkn

[2018-07-11 16:44] sheldonkreger commented on #45
I'm also running into this with Quasar 0.7.9 and Sprint Boot 1.5.3.RELEASE. So far unable to get the uber jar to work using Maven shade plugin. However, I can run it with the mvn command, for example mvn test works fine. Going to fiddle with the shade config and see what I can do.

[2018-08-01 16:24] enryold commented on #45
Hi Guys, I've solved basically using Capsule.

- I've started from scratch with this [project](https://github.com/tigerMoon/spring-quasar-demo):
- I converted the project from maven to gradle. (gradle init)
- Than I add the [gradle-capsule-plugin](https://github.com/danthegoodman/gradle-capsule-plugin)
- I Add to build.gradle the fatCapsule task:

`task fatCapsule(type: FatCapsule) {
    applicati

[2019-01-07 05:38] FDU-SE-LAB opened #99 "Your project puniverse/comsat is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more